/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FOOTER */
.footer {
  background-color: #111;
  color: #fff;
  padding: 20px 0;
  margin-top: 40px;
}

/* CONTAINER */
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* TEXTO */
.footer-text {
  font-size: 14px;
}

/* SOCIAL */
.socials {
  display: flex;
  align-items: center;
}

/* LINK */
.social-link {
  display: flex;
  align-items: center;
  gap: 8px;

  text-decoration: none;
  color: #fff;
  font-size: 14px;

  transition: 0.3s;
}

/* ÍCONE */
.icon {
  font-size: 20px;
}

/* HOVER */
.social-link:hover {
  color: rgb(131, 0, 0);
  transform: scale(1.05);
}

/* SOCIALS LAYOUT */
.socials {
  display: flex;
  gap: 15px;
}

/* LINK PADRÃO */
.social-link {
  display: flex;
  align-items: center;
  gap: 8px;

  text-decoration: none;
  color: #fff;
  font-size: 14px;

  transition: 0.3s;
}

/* ÍCONE */
.icon {
  font-size: 20px;
}

/* HOVER PADRÃO */
.social-link:hover {
  color: rgb(131, 0, 0);
}

/* WHATSAPP ESPECIAL */
.social-link.whatsapp {
  background-color: #25D366;
  padding: 8px 12px;
  border-radius: 6px;
  color: #fff;
}

.social-link.whatsapp:hover {
  background-color: #1ebe5d;
  transform: scale(1.05);
}


/* ========================= */
/* RESPONSIVO */
/* ========================= */

/* TABLET */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}

/* CELULAR */
@media (max-width: 480px) {
  .footer-text {
    font-size: 12px;
  }

  .icon {
    font-size: 18px;
  }
}